.responsive-navbar {
  background-color: #F8F8F8;
  padding: 20px;
  border: 1px solid #E7E7E7; }

.responsive-navbar__button {
  float: right;
  color: #777;
  background-color: #F8F8F8;
  border: 1px solid #E7E7E7;
  font-size: 200%; }

.responsive-navbar__item {
  display: inline-block; }

.responsive-navbar__menu {
  list-style: none; }

.responsive-navbar__menus {
  background-color: #F8F8F8;
  padding: 10px;
  border: 1px solid #E7E7E7; }

.responsive-navbar__title {
  text-decoration: none;
  color: #777;
  font-size: 200%; }

.responsive-navbar__link {
  text-decoration: none;
  color: #777;
  padding: 10px;
  display: block; }
